---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/718821?api_key=DONT_SHARE_MY_PROPUBLIC_SECRET_KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - dead3aa1bc3000396b101ed5fa96f132
      X-Memc-Age:
      - '2394'
      X-Memc-Expires:
      - '24387'
      Etag:
      - W/"ccb6a398b6964b68603deffe3111a518"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/58D6ZAvOKxlHjyX9S8qNKSBE9Y.jpg","belongs_to_collection":{"id":1062948,"name":"Twister
        Collection","poster_path":"/eVWAEf5hxt8lwYIarAiOJLDX1E5.jpg","backdrop_path":"/bnb3pWSDihCCeZ0wGlFBbTScyZv.jpg"},"budget":155000000,"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"}],"homepage":"https://www.twisters-movie.com","id":718821,"imdb_id":"tt12584954","origin_country":["US"],"original_language":"en","original_title":"Twisters","overview":"As
        storm season intensifies, the paths of former storm chaser Kate Carter and
        reckless social-media superstar Tyler Owens collide when terrifying phenomena
        never seen before are unleashed. The pair and their competing teams find themselves
        squarely in the paths of multiple storm systems converging over central Oklahoma
        in the fight of their lives.","popularity":2373.617,"poster_path":"/pjnD08FlMAIXsfOLKQbvmO0f0MD.jpg","production_companies":[{"id":33,"logo_path":"/8lvHyhjr8oUKOOy2dKXoALWKdp0.png","name":"Universal
        Pictures","origin_country":"US"},{"id":174,"logo_path":"/zhD3hhtKB5qyv7ZeL4uLpNxgMVU.png","name":"Warner
        Bros. Pictures","origin_country":"US"},{"id":56,"logo_path":"/cEaxANEisCqeEoRvODv2dO1I0iI.png","name":"Amblin
        Entertainment","origin_country":"US"},{"id":216687,"logo_path":null,"name":"Domain
        Entertainment","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2024-07-10","revenue":333439315,"runtime":123,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Chase.
        Ride. Survive.","title":"Twisters","video":false,"vote_average":7.047,"vote_count":969}'
  recorded_at: Thu, 22 Aug 2024 23:08:51 GMT
recorded_with: VCR 6.3.1
